<table class="table"> <!-- table -->
    <thead> <!-- thead -->
    <tr> <!-- table row -->
        <th scope="col"> <!-- table header -->
            ID
        </th>
        <th scope="col">Anime</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% detalles.forEach( (detalle) => {%>
        <tr> <!-- table row -->
            <th scope="row">
                <%= detalle.id%>
            </th> <!-- table header -->
            <td>
                <%= detalle.anime.nombre%>
            </td> <!-- table detail -->
            <td>
                <%= detalle.precio%>
            </td> <!-- table detail -->
            <td>
                <%= detalle.cantidad%>
            </td> <!-- table detail -->
            <td>
                <%= detalle.subtotal%>
            </td>
            <td>
                <a href="/detalle-carrito/actualizar-carrito/<%= detalle.id %>">
                    <button type="button"
                            class="btn btn-info">
                        Editar
                    </button>
                </a>
                <form action="/detalle-carrito/eliminar/<%= detalle.anime.id %>"
                      method="POST"
                >
                    <button type="submit"
                            class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
    <%}); %>
    </tbody> <!-- tbody -->
</table>
